In [1]:
#Задание 1
#Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
#Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [3]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating_sort = rating [ (rating['rating'] == 5.0)]
rating_sort['movieId'].value_counts(normalize=True).head()
movies[movies['movieId'] == 318]['title'].head()

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

In [5]:
#Задание 2
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
#категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения 
#quantity.

In [6]:
df = pd.read_csv('power.csv')
df.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
n = df[ (df['country']=='Latvia') | (df['country']=='Litva') | (df['country']=='Estonia') ]
n1 = n[ (n['category']==4) | (n['category']==12) | (n['category']==21) ]
n2 = n1[ (n1['year'] <= 2010) & (n1['year'] >= 2005)]
n3 = n2[ (n2['quantity'] >= 0)]
n3['quantity'].sum()

118284.0

In [8]:
#Задание 3
#Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [13]:
page_url = 'https://www.finanz.ru/birzhevyye-tovary/v-realnom-vremeni'
df1 = pd.read_html(page_url, attrs = {'class': 'header_user_pricebox'}, encoding='utf-8')

In [14]:
df1[:5]

[     0       1      2        3       4     5        6       7     8        9   \
 0  ММВБ   2 897  -0,6%   Nasdaq  10 914  2,3%  Биткойн  10 788  0,4%  USD/RUB
 1   РТС   1 165  -2,0%   S&P500   3 298  1,6%    Нефть     418  0,1%  EUR/RUB
 2   Dow  27 174   1,3%  FTSE100   5 843  0,3%   Золото   1 861  0,0%  EUR/USD

        10    11
 0  781470  1,4%
 1  908870  1,1%
 2   11635  0,0%  ]